
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.WT-text-field .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #00000036;
  transition: ease 0.2s;
}

.WT-text-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #000000aa;
  
}

.WT-text-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #000;
  border-width: 1px;
}

.bg-secondary {
  background-color: #2D8E00;
}

.max-site-width {
  max-width: 2560px !important;
}

.margin-auto {
  margin: auto;
}


.mr-4 {
  margin-right: 16px;
}
 